In [96]:
import pandas as pd
import numpy as np
import requests
import json
from census import Census
from us import states


from config import covidkey
from config import censuskey
c = Census(censuskey, year=2013)
censuskey

'04f514dfbd7422da53425fd0190e7284a2214b9d'

In [97]:
census_url=f"api.census.gov/data/2019/pep/population?get=COUNTY,DATE_CODE,DATE_DESC,DENSITY,POP,NAME,STATE&for=region:*&key={censuskey}"

census_url

'api.census.gov/data/2019/pep/population?get=COUNTY,DATE_CODE,DATE_DESC,DENSITY,POP,NAME,STATE&for=region:*&key=04f514dfbd7422da53425fd0190e7284a2214b9d'

In [98]:
covidnow_st_df=pd.read_csv("CSVs/Covid_Now_CSVs/states.csv")

covidnow_st_df.head()

,fips,country,state,county,level,lat,locationId,long,population,metrics.testPositivityRatio,...,actuals.newCases,actuals.vaccinesDistributed,actuals.vaccinationsInitiated,actuals.vaccinationsCompleted,lastUpdatedDate,url,metrics.vaccinationsInitiatedRatio,metrics.vaccinationsCompletedRatio,actuals.newDeaths,actuals.vaccinesAdministered
0,2,US,AK,NaN,state,NaN,iso1:us#iso2:us-ak,NaN,731545,0.066,...,439,848165,372132,330406,2021-07-24,https://covidactnow.org/us/alaska-ak,0.509,0.452,2,690518
1,1,US,AL,NaN,state,NaN,iso1:us#iso2:us-al,NaN,4903185,0.155,...,1733,4979270,2041597,1663031,2021-07-24,https://covidactnow.org/us/alabama-al,0.416,0.339,4,3494892
2,5,US,AR,NaN,state,NaN,iso1:us#iso2:us-ar,NaN,3017804,0.102,...,1987,2937300,1352937,1077347,2021-07-24,https://covidactnow.org/us/arkansas-ar,0.448,0.357,6,2363840
3,4,US,AZ,NaN,state,NaN,iso1:us#iso2:us-az,NaN,7278717,0.106,...,1479,8399110,3798435,3259542,2021-07-24,https://covidactnow.org/us/arizona-az,0.522,0.448,7,7001414
4,6,US,CA,NaN,state,NaN,iso1:us#iso2:us-ca,NaN,39512223,0.046,...,8933,50392775,25192441,20594557,2021-07-24,https://covidactnow.org/us/california-ca,0.638,0.521,45,44467248

In [99]:
# covidnow_cou_df = ('CSVs/Covid_Now_CSVs/counties.csv')

# covidnow_cou_df

In [100]:
lockdown_df=pd.read_csv("CSVs/LockdownDuration.csv")

lockdown_df.head()

  state  stay at home length
0    AL                   26
1    AK                   27
2    AZ                   15
3    AR                    0
4    CA                  162

In [6]:
oxford_df=pd.read_csv("CSVs/OxCGRT_US_latest.csv")

oxford_df.head()

,CountryName,CountryCode,RegionName,RegionCode,Jurisdiction,Date,C1_School closing,C1_Flag,C1_Notes,C2_Workplace closing,...,StringencyIndex,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay
0,United States,USA,NaN,NaN,NAT_GOV,20200101,0.0,NaN,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,United States,USA,NaN,NaN,NAT_GOV,20200102,0.0,NaN,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,United States,USA,NaN,NaN,NAT_GOV,20200103,0.0,NaN,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,United States,USA,NaN,NaN,NAT_GOV,20200104,0.0,NaN,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,United States,USA,NaN,NaN,NAT_GOV,20200105,0.0,NaN,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [67]:
population_df=pd.read_csv("CSVs/state_demographics.csv")
population_df['State Abbrev'] = ''
population_df.drop(labels=[0],axis=0,inplace=True)
population_df.head()

,State,Age.Percent 65 and Older,Age.Percent Under 18 Years,Age.Percent Under 5 Years,Education.Bachelor's Degree or Higher,Education.High School or Higher,Employment.Nonemployer Establishments,Employment.Private Non-farm Employment,Employment.Private Non-farm Employment Percent Change,Employment.Private Non-farm Establishments,...,Sales.Retail Sales,Sales.Retail Sales per Capita,Employment.Firms.American Indian-Owned,Employment.Firms.Asian-Owned,Employment.Firms.Black-Owned,Employment.Firms.Hispanic-Owned,Employment.Firms.Native Hawaiian and Other Pacific Islander-Owned,Employment.Firms.Total,Employment.Firms.Women-Owned,State Abbrev
1,Alabama,15.3,22.8,6.1,22.6,83.1,311578,1603100,1.1,97578,...,573448,12364,0.8,1.8,14.8,1.2,0.1,382350,28.1,
2,Alaska,9.4,25.3,7.4,27.5,91.6,52991,266627,3.3,20519,...,93033,13635,10.0,3.1,1.5,0.0,0.3,68728,25.9,
3,Arizona,15.9,24.1,6.4,26.9,85.7,420233,2173205,1.8,132762,...,867588,13637,1.9,3.3,2.0,10.7,0.0,491529,28.1,
4,Arkansas,15.7,23.8,6.5,20.1,83.7,191530,978094,0.0,64772,...,329742,11602,1.1,1.4,5.5,2.3,0.1,238994,24.5,
5,California,12.9,23.6,6.5,30.7,81.2,2983996,13401863,3.5,874243,...,4550322,12561,1.3,14.9,4.0,16.5,0.3,3425510,30.3,

In [77]:
states_list = []
for x in population_df['State']:
    St_list = states.lookup(x).abbr
    states_list.append(St_list)
        
population_df['state'] = states_list
population_df.head()

,State,Age.Percent 65 and Older,Age.Percent Under 18 Years,Age.Percent Under 5 Years,Education.Bachelor's Degree or Higher,Education.High School or Higher,Employment.Nonemployer Establishments,Employment.Private Non-farm Employment,Employment.Private Non-farm Employment Percent Change,Employment.Private Non-farm Establishments,...,Sales.Retail Sales per Capita,Employment.Firms.American Indian-Owned,Employment.Firms.Asian-Owned,Employment.Firms.Black-Owned,Employment.Firms.Hispanic-Owned,Employment.Firms.Native Hawaiian and Other Pacific Islander-Owned,Employment.Firms.Total,Employment.Firms.Women-Owned,State Abbrev,state
1,Alabama,15.3,22.8,6.1,22.6,83.1,311578,1603100,1.1,97578,...,12364,0.8,1.8,14.8,1.2,0.1,382350,28.1,AL,AL
2,Alaska,9.4,25.3,7.4,27.5,91.6,52991,266627,3.3,20519,...,13635,10.0,3.1,1.5,0.0,0.3,68728,25.9,AK,AK
3,Arizona,15.9,24.1,6.4,26.9,85.7,420233,2173205,1.8,132762,...,13637,1.9,3.3,2.0,10.7,0.0,491529,28.1,AZ,AZ
4,Arkansas,15.7,23.8,6.5,20.1,83.7,191530,978094,0.0,64772,...,11602,1.1,1.4,5.5,2.3,0.1,238994,24.5,AR,AR
5,California,12.9,23.6,6.5,30.7,81.2,2983996,13401863,3.5,874243,...,12561,1.3,14.9,4.0,16.5,0.3,3425510,30.3,CA,CA

In [80]:
filtered_pop_df = population_df.loc[:,['state','State','Population.Population per Square Mile']]
filtered_pop_df.head()

  state       State  Population.Population per Square Mile
1    AL     Alabama                                   94.4
2    AK      Alaska                                    1.2
3    AZ     Arizona                                   56.3
4    AR    Arkansas                                   56.0
5    CA  California                                  239.1

In [81]:
merged_df = pd.merge(filtered_pop_df, covidnow_st_df, on="state")
merged_df.head()

,state,State,Population.Population per Square Mile,fips,country,county,level,lat,locationId,long,...,actuals.newCases,actuals.vaccinesDistributed,actuals.vaccinationsInitiated,actuals.vaccinationsCompleted,lastUpdatedDate,url,metrics.vaccinationsInitiatedRatio,metrics.vaccinationsCompletedRatio,actuals.newDeaths,actuals.vaccinesAdministered
0,AL,Alabama,94.4,1,US,NaN,state,NaN,iso1:us#iso2:us-al,NaN,...,1733,4979270,2041597,1663031,2021-07-24,https://covidactnow.org/us/alabama-al,0.416,0.339,4,3494892
1,AK,Alaska,1.2,2,US,NaN,state,NaN,iso1:us#iso2:us-ak,NaN,...,439,848165,372132,330406,2021-07-24,https://covidactnow.org/us/alaska-ak,0.509,0.452,2,690518
2,AZ,Arizona,56.3,4,US,NaN,state,NaN,iso1:us#iso2:us-az,NaN,...,1479,8399110,3798435,3259542,2021-07-24,https://covidactnow.org/us/arizona-az,0.522,0.448,7,7001414
3,AR,Arkansas,56.0,5,US,NaN,state,NaN,iso1:us#iso2:us-ar,NaN,...,1987,2937300,1352937,1077347,2021-07-24,https://covidactnow.org/us/arkansas-ar,0.448,0.357,6,2363840
4,CA,California,239.1,6,US,NaN,state,NaN,iso1:us#iso2:us-ca,NaN,...,8933,50392775,25192441,20594557,2021-07-24,https://covidactnow.org/us/california-ca,0.638,0.521,45,44467248

In [89]:
#merged_df['actuals.deaths']
#merged_df['metrics.caseDensity']

In [84]:
census_data = c.acs5.get('B01003_001E', {'for': 'state:*'})
census_pd = pd.DataFrame(census_data)
census_pd = census_pd.rename(columns ={'B01003_001E': 'Population'})
census_pd.head()

   Population state
0   4799277.0    01
1    720316.0    02
2   6479703.0    04
3   2933369.0    05
4  37659181.0    06

In [85]:
census_pd['State'] = " "

In [86]:
# states.lookup('Ohio').abbr

In [88]:
states_list = []
for x in census_pd['state']:
    Z = states.lookup(x).abbr
    states_list.append(Z)

census_pd['State'] = states_list
census_pd.drop(labels=['state'],axis=1,inplace=True)
census_pd = census_pd.rename(columns ={'State': 'state'})
census_pd.head()

   Population state
0   4799277.0    AL
1    720316.0    AK
2   6479703.0    AZ
3   2933369.0    AR
4  37659181.0    CA

In [91]:
final_df = pd.merge(census_pd,merged_df, on="state")
final_df.head()

,Population,state,State,Population.Population per Square Mile,fips,country,county,level,lat,locationId,...,actuals.newCases,actuals.vaccinesDistributed,actuals.vaccinationsInitiated,actuals.vaccinationsCompleted,lastUpdatedDate,url,metrics.vaccinationsInitiatedRatio,metrics.vaccinationsCompletedRatio,actuals.newDeaths,actuals.vaccinesAdministered
0,4799277.0,AL,Alabama,94.4,1,US,NaN,state,NaN,iso1:us#iso2:us-al,...,1733,4979270,2041597,1663031,2021-07-24,https://covidactnow.org/us/alabama-al,0.416,0.339,4,3494892
1,720316.0,AK,Alaska,1.2,2,US,NaN,state,NaN,iso1:us#iso2:us-ak,...,439,848165,372132,330406,2021-07-24,https://covidactnow.org/us/alaska-ak,0.509,0.452,2,690518
2,6479703.0,AZ,Arizona,56.3,4,US,NaN,state,NaN,iso1:us#iso2:us-az,...,1479,8399110,3798435,3259542,2021-07-24,https://covidactnow.org/us/arizona-az,0.522,0.448,7,7001414
3,2933369.0,AR,Arkansas,56.0,5,US,NaN,state,NaN,iso1:us#iso2:us-ar,...,1987,2937300,1352937,1077347,2021-07-24,https://covidactnow.org/us/arkansas-ar,0.448,0.357,6,2363840
4,37659181.0,CA,California,239.1,6,US,NaN,state,NaN,iso1:us#iso2:us-ca,...,8933,50392775,25192441,20594557,2021-07-24,https://covidactnow.org/us/california-ca,0.638,0.521,45,44467248

In [94]:
final_df['Death Ratio'] = final_df['actuals.deaths']/final_df['Population']
final_df['Positive Ratio'] = final_df['actuals.positiveTests']/final_df['Population']
final_df.head()

,Population,state,State,Population.Population per Square Mile,fips,country,county,level,lat,locationId,...,actuals.vaccinationsInitiated,actuals.vaccinationsCompleted,lastUpdatedDate,url,metrics.vaccinationsInitiatedRatio,metrics.vaccinationsCompletedRatio,actuals.newDeaths,actuals.vaccinesAdministered,Death Ratio,Positive Ratio
0,4799277.0,AL,Alabama,94.4,1,US,NaN,state,NaN,iso1:us#iso2:us-al,...,2041597,1663031,2021-07-24,https://covidactnow.org/us/alabama-al,0.416,0.339,4,3494892,0.002390,0.116733
1,720316.0,AK,Alaska,1.2,2,US,NaN,state,NaN,iso1:us#iso2:us-ak,...,372132,330406,2021-07-24,https://covidactnow.org/us/alaska-ak,0.509,0.452,2,690518,0.000509,0.159061
2,6479703.0,AZ,Arizona,56.3,4,US,NaN,state,NaN,iso1:us#iso2:us-az,...,3798435,3259542,2021-07-24,https://covidactnow.org/us/arizona-az,0.522,0.448,7,7001414,0.002800,0.143022
3,2933369.0,AR,Arkansas,56.0,5,US,NaN,state,NaN,iso1:us#iso2:us-ar,...,1352937,1077347,2021-07-24,https://covidactnow.org/us/arkansas-ar,0.448,0.357,6,2363840,0.002059,0.084505
4,37659181.0,CA,California,239.1,6,US,NaN,state,NaN,iso1:us#iso2:us-ca,...,25192441,20594557,2021-07-24,https://covidactnow.org/us/california-ca,0.638,0.521,45,44467248,0.001705,0.102275

In [101]:
Covid_df = pd.merge(lockdown_df,final_df, on="state")
Covid_df.head()

,state,stay at home length,Population,State,Population.Population per Square Mile,fips,country,county,level,lat,...,actuals.vaccinationsInitiated,actuals.vaccinationsCompleted,lastUpdatedDate,url,metrics.vaccinationsInitiatedRatio,metrics.vaccinationsCompletedRatio,actuals.newDeaths,actuals.vaccinesAdministered,Death Ratio,Positive Ratio
0,AL,26,4799277.0,Alabama,94.4,1,US,NaN,state,NaN,...,2041597,1663031,2021-07-24,https://covidactnow.org/us/alabama-al,0.416,0.339,4,3494892,0.002390,0.116733
1,AK,27,720316.0,Alaska,1.2,2,US,NaN,state,NaN,...,372132,330406,2021-07-24,https://covidactnow.org/us/alaska-ak,0.509,0.452,2,690518,0.000509,0.159061
2,AZ,15,6479703.0,Arizona,56.3,4,US,NaN,state,NaN,...,3798435,3259542,2021-07-24,https://covidactnow.org/us/arizona-az,0.522,0.448,7,7001414,0.002800,0.143022
3,AR,0,2933369.0,Arkansas,56.0,5,US,NaN,state,NaN,...,1352937,1077347,2021-07-24,https://covidactnow.org/us/arkansas-ar,0.448,0.357,6,2363840,0.002059,0.084505
4,CA,162,37659181.0,California,239.1,6,US,NaN,state,NaN,...,25192441,20594557,2021-07-24,https://covidactnow.org/us/california-ca,0.638,0.521,45,44467248,0.001705,0.102275